.color-nav {
  background-color: #F58725;
}

.likePadding {
  padding-left: 8px;
  padding-top: 2px;
  vertical-align: middle;
}

body {
  background-color: antiquewhite;
}

#searchBar {
  width: 300px;
}

#spaceNav {
  padding-bottom: 60px;
}

#jumbotron {
  background-color: antiquewhite;
  padding-bottom: 0px;
}

#logInLabel {
  background-color: #F58725;
  /* outline-color: black;
  outline-style: solid; */
}

.logInLabel {
  background-color: #F58725;
  /* box-shadow: 0 0 0 1px black, 0 3px 3px grey; */
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  color: black;
  padding-bottom: 5px;
}

.userLabel {
  background-color: #E9E9E9;
  /* box-shadow: 0 0 0 1px black, 0 3px 3px grey; */
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  color: black;
  padding-bottom: 2px;
}

.bottomLabel {
  background-color: #C4C4C4;
  /* box-shadow: 0 0 0 1px black, 0 3px 3px grey; */
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.loading {
  margin-top: 70px;
}

.logInForm {
  background-color: #E9E9E9;
  box-shadow: 0 0 0 1px #E9E9E9;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 3px 3px grey;
}

.logInEntry {
  border-radius: 30px;
  border: white; 
  background-color: white;
  color: grey;
}

.smallPopup {
  border-radius: 30px;
  background-color: #F58725;
  border: #F58725;
  color: black;
}

.logInEntryContainer {
  padding: 5px;
}

.reviewContent {
  padding-left: 32px;
  padding-bottom: 25px;
}

.reviewIcon {
  padding-right: 70px;
  padding-top: 20px;
}

.reviewPicture {
  padding-right: 32px;
  max-width: 100%;
  max-height: 100%;
}

.reviewImgs {
  padding-bottom: 25px;
  padding-left: 25px;
  width: 350px;
  height: 350px;
  object-fit: scale-down;
}

.reviewLeaveComment {
  padding-top: 30px;
}

.timestamp {
  margin-top: 15px;
  font-size: 12px;
}

.yipIcon {
  width: 117px;
  height: 81px;
}

.profilePic{
  width: 50px;
  height: 75px
}

.profileName{
  margin-top: 5px;
}

.loadingIcon {
  width: 200px;
  height: 200px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#sidebar-wrapper {
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

.profileLink {
  color: rgb(44, 44, 44);
  text-decoration: none;
}

.userLink {
  color: rgb(0,0,0);
}

.button-color {
  background-color: #E9E9E9;
}

.button-color:hover {
  background-color: #C4C4C4;
}

.dropdown-menu {
  max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.reviewTimeStamp {
   padding-left: 25px;
}

.kennelBtns {
  padding-top: 22px;
}

.chatApp {
  position:absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px 20px;

}

.chatApp h1 {
  position: relative;
  bottom: 250px;
}

.chatApp ul {
  position: relative;
  bottom: 250px;
  height: 400px;
}

.inboxUserLabel {
  background-color: #E9E9E9;
  /* box-shadow: 0 0 0 1px black, 0 3px 3px grey; */
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  color: black;
  padding-bottom: 2px;
  display: inline-block;
}

.button {
    /* background-color: Transparent; */
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.moveLeft{
  position:relative;
  left: -50px;
}


.chatMessage{
  position: relative;
  width: 100%;
  font-size: 16px;
  height: 35px;
  bottom: 275px;
  box-sizing: border-box;
  margin-top: 12px;
  border: solid 2px #929292;
  outline: none;
  transition: border 0.3s;
}

.messages {
  overflow-y: scroll;
  list-style-type: none;
}

.userlist {
  overflow-y: scroll;
  list-style-type: none;
}

.messages div {
  max-height: 80%;
}

.messageInstance {
  width: fit-content;
  width: -moz-fit-content;
  height:40px;
  font-size: 16px;
  line-height: 40px;
  padding: 5px 30px 6px;
  border-radius: 25px;
  position: relative;
}

.client {
  background-color: #4080ff;
  color: white;
  text-align: right;
  float: right;
  margin-right: 10px;
}

.server {
  background: #E5E5EA;
  color: black;
}

.inboxli {
  position:relative;
  width: 100%;
  height: auto;
  height: 50px;
  margin-top: 10px;
}



.input-tag {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
}

.input-tag input {
  border: none;
  width: 100%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  background: #F58725;
  border-radius: 2px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
}

.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  padding: 0;
  transform: rotate(45deg);
  width: 15px;
}

section {
  width: 100%;
}

article {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 1rem;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* Pattern styles */
.left-half {
  background-color: #ff9e2c;
  float: left;
  width: 20%;
  height: 55%;
}
.right-half {
  background-color: #b6701e;
  float: left;
  width: 80%;
  height: 55%;
}

/* Home page */
.homereviews {
  float: left;
  width: 80%;
  height: 100%;
}
.homepanel {
  float: left;
  width: 20%;
  height: 100%;
}

.fileUploader {
	width: 100%;
}

.fileContainer {
	background: #fff;
	box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
	position: relative;
	border-radius: 10px;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 10px auto;
	transition: all 0.3s ease-in;
}

.fileContainer input {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.fileContainer p {
	font-size: 12px;
	margin: 8px 0 4px;
}

.fileContainer .errorsContainer {
	max-width: 300px;
	font-size: 12px;
	color: red;
	text-align: left;
}

.fileContainer .chooseFileButton {
	padding: 6px 23px;
	background: #3f4257;
	border-radius: 30px;
	color: white;
	font-weight: 300;
	font-size: 14px;
	margin: 10px 0;
	transition: all 0.2s ease-in;
	cursor: pointer;
	outline: none;
	border: none;
}

.fileContainer .chooseFileButton:hover {
	background: #545972;
}

.fileContainer .uploadFilesButton {
	padding: 5px 43px;
	background: transparent;
	border-radius: 30px;
	color: #3f4257;
	font-weight: 300;
	font-size: 14px;
	margin: 10px 0;
	transition: all 0.2s ease-in;
	cursor: pointer;
	outline: none;
	border: 1px solid #3f4257;
}

.fileContainer .uploadFilesButton:hover {
	background: #3f4257;
	color: #fff;
}

.fileContainer .uploadIcon {
	width: 50px;
	height: 50px;
}

.fileContainer .uploadPicturesWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.fileContainer .uploadPictureContainer {
	width: 25%;
	margin: 5%;
	padding: 10px;
	background: #edf2f6;
	display: flex;
	align-items: center;
	justify-content: center;
	height: inherit;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
	border: 1px solid #d0dbe4;
	position: relative;
}

.fileContainer .uploadPictureContainer img.uploadPicture {
	width: 100%;
}

.fileContainer .deleteImage {
	position: absolute;
	top: -9px;
	right: -9px;
	color: #fff;
	background: #ff4081;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	font-size: 26px;
	font-weight: bold;
	line-height: 30px;
	width: 30px;
	height: 30px;
}

.flipMove {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
