.color-nav {
  background-color: #F58725;
}

.likePadding {
  padding-left: 8px;
}

body {
  background-color: antiquewhite;
}

#searchBar {
  width: 300px;
}

#spaceNav {
  padding-bottom: 60px;
}

#jumbotron {
  background-color: antiquewhite;
  padding-bottom: 0px;
}

#logInLabel {
  background-color: #F58725;
  /* outline-color: black;
  outline-style: solid; */
}

.logInLabel {
  background-color: #F58725;
  box-shadow: 0 0 0 1px black, 0 3px 3px grey;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding-bottom: 5px;
}

.bottomLabel {
  background-color: #C4C4C4;
  box-shadow: 0 0 0 1px black, 0 3px 3px grey;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.logInForm {
  background-color: #E9E9E9;
  box-shadow: 0 0 0 1px #E9E9E9;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 3px 3px grey;
}

.logInEntry {
  border-radius: 30px;
  border: white; 
  background-color: white;
  color: grey;
}

.logInEntryContainer {
  padding: 5px;
}

.reviewContent {
  padding-left: 32px;
  padding-bottom: 25px;
}

.reviewIcon {
  padding-right: 70px;
  padding-top: 20px;
}

.reviewPicture {
  padding-right: 32px;
  max-width: 100%;
  max-height: 100%;
}

.reviewLeaveComment {
  padding-top: 30px;
}

.timestamp {
  margin-top: 15px;
  font-size: 12px;
}

.yipIcon {
  width: 117px;
  height: 81px;
}

.profilePic{
  width: 117px;
  height: 81px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#sidebar-wrapper {
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}